<div class="summaryContainer">
    <div class="imageContainer">
        <img class="image" src="{{ defaultProductImage }}" alt="{{ product?.title }}" title="{{ product?.title }}">
    </div>
    <div class="productDescriptionContainer">
        <div class="productDescription">{{ product?.title }}</div>
        <div class="productPrice">{{ defaultProductPrice | productPrice }}</div>
    </div>
    <div class="buttonContainer">
        <div class="button action" (click)="onAddToCart(product);">
            add to cart
        </div>
        <div class="button view">
            quick view
        </div>
    </div>
</div>
