.summaryContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 316px;
    height: 488px;
    box-sizing: border-box;
    padding: 16px;
    margin: 0 36px 32px 0;
    box-shadow: var(--card-shadow);
    background-color: var(--card-background);
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 286px;
    background-color: var(--page-background);
}
.image {
    width: 256px;
    min-width: 256px;
    background-color: var(--card-background);
    background-size: auto;
    background-repeat: no-repeat;
}

.productDescriptionContainer {
    display: flex;
    align-items: flex-start;
    font-family: MontserratSemiBold;
    font-size: 1.4rem;
    margin: 16px 0;
}
.productDescription {
    flex-grow: 1;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    overflow-y: hidden;
    text-transform: uppercase;
    margin-right: 8px;
}
.productPrice {
    width: 76px;
    min-width: 76px;
    text-align: right;
}

.buttonContainer {
    display: flex;
    height: 74px;
    margin-top: auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 24px;
    font-family: MontserratSemiBold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3rem;
    cursor: pointer;
}
.action {
    color: var(--text-contrast-colour);
    background-color: var(--brand-highlight);
}
.view {
    background-color: var(--button-background);
}
