<div class="contentContainer">
    <div class="main">
        <div class="sortContainer">
            <select #sortBy name="sortBy" (change)="onSortByChanged(sortBy.value);">
                <option *ngFor="let selectOption of sortByOptions;" value="{{ selectOption.value }}">{{ selectOption.description }}</option>
            </select>
        </div>
        <div class="listContainer">
            <app-product-summary *ngFor="let product of availableProducts;" [product]="product"></app-product-summary>
        </div>
    </div>
    <div class="aside">
        <app-product-cart></app-product-cart>
    </div>
</div>
