.contentContainer {
    display: flex;
    margin: 0 96px;
    padding-top: 24px;
}
.contentContainer > .main {
    flex-grow: 1;
}
.contentContainer > .aside {
    width: 318px;
    min-width: 318px;
}

.sortContainer {
    height: 92px;
}

.listContainer {
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
}

select {
    font-family: MontserratMedium;
    font-size: 1rem;
	padding: 8px;
	outline: 0;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 4px;
    background-color: var(--card-background);
}
